@model IEnumerable<string>
@{ 
    ViewData["Title"] = "Transactions";
}

<div class="row">
    <input type="hidden" id="statusCode" value="A" />
    <div class="col-md-12">
        <div>
            <ul class="nav flex-column nav-pills bg-light">
                <li class="nav-item">
                    <a class="nav-link active" id="approve" data-toggle="tab" href="#" onclick="showTransaction('A')">
                        Approved
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="reject" data-toggle="tab" href="#" onclick="showTransaction('R')">
                        Rejected
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="done" data-toggle="tab" href="#" onclick="showTransaction('D')">
                        Done
                    </a>
                </li>
            </ul>
        </div>

        <div style="width:100%; margin:0 auto;">
            <table id="tblTransaction" class="table compact row-border hover dt-responsive" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Payment</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/transaction.js"></script>
    <script>
        function showTransaction(status) {
            $("#statusCode").val(status);
            $("#tblTransaction").DataTable().ajax.reload();
        }
    </script>
}