
<div class="row">
    <div class="col-md-12">
        <div style="width:100%; margin:0 auto;">
            <table id="tblTransactionErrorLog" class="table compact row-border hover dt-responsive" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Uploaded Date</th>
                        <th>File Name</th>
                        <th>Transaction Id</th>
                        <th>Amount</th>
                        <th>CurrencyCode</th>
                        <th>DateTime</th>
                        <th>Status</th>
                        <th>Error</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/transactionErrorLog.js"></script>
}